.title {
    flex-grow: 1
}

.barContainer {
    justify-content: space-between;
}

.cardWrapper {
    position: relative;
    border: "none";
    box-shadow: "none";
    width: 60%;
    height: 220;
    top: 30vh;
    margin: auto;
}
